@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
body,
p,
a,
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
body {
  font-weight: 400;
}
strong {
  font-weight: 700;
}
p,
li,
a {
  font-weight: 300;
  font-size: 14px;
}
body,
html {
  height: 100%;
  background-color: #FFFFFF;
}
.section-title {
  margin-bottom: 50px;
}
.sub-section-title a {
  color: #3dafac;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.sub-section-title a:hover {
  color: #FFFFFF;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
  }
  .seven-cols .col-sm-3 {
    width: 25%;
  }
  .seven-cols .col-sm-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
@media (max-width: 767px) {
  .no-padding {
    /*  All phone devices */
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .no-padding-left {
    /*  iPad Portrait  */
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .no-padding-right {
    /*  iPad Portrait  */
    padding-right: 0;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .video-container {
    /*  All phone devices */
    margin-bottom: 30px;
  }
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
blockquote {
  margin: 50px 0 40px 0;
  border-left: none;
  background-image: url('../img/quoteblock.png');
  background-repeat: no-repeat;
  background-position: left top;
}
blockquote p {
  color: #3dafac !important;
  font-size: 24px !important;
  line-height: 29px !important;
  font-weight: 300 !important;
  margin-left: 70px;
  margin-top: -15px;
}
@media (max-width: 767px) {
  blockquote p {
    /*  All phone devices */
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  blockquote {
    /*  All phone devices */
    background-image: none;
  }
}
@media (max-width: 767px) {
  blockquote p::before {
    /*  All phone devices */
    content: url('../img/quoteblock-mobile.png');
    margin-right: 100%;
  }
}
.offset:before {
  display: block;
  content: " ";
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .offset:before {
    /*  iPad Portrait  */
    height: 80px;
    margin-top: -80px;
  }
}
@media only screen and (min-width: 1024px) {
  .offset:before {
    /*  iPad Landscape  */
  }
}
@media only screen and (min-width: 1200px) {
  .offset:before {
    /*  Desktop  */
    height: 80px;
    margin-top: -80px;
  }
}
.gform_anchor {
  position: absolute;
  top: -305px;
}
a,
a* {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.center {
  text-align: center;
}
.carousel-control {
  text-shadow: none;
  background-color: transparent;
  background-image: none !important;
  filter: alpha(opacity=100);
  opacity: 1;
}
.social-media {
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
#breadcrumb {
  height: 45px;
}
#breadcrumb a {
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
ul.easy-wp-page-nav {
  margin-bottom: 70px;
}
.easy-wp-page-navigation.style-circle a,
.easy-wp-page-navigation.style-circle span {
  border: none;
  line-height: 30px;
}
.easy-wp-page-navigation.style-circle a.next,
.easy-wp-page-navigation.style-circle a.prev {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.easy-wp-page-navigation a {
  background: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin: 0 5px;
}
.easy-wp-page-navigation a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.easy-wp-page-navigation span.current {
  color: #FFFFFF;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .item .quote-box,
.carousel-fade .carousel-inner .active.left .quote-box,
.carousel-fade .carousel-inner .active.right .quote-box {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .active .quote-box,
.carousel-fade .carousel-inner .next.left .quote-box,
.carousel-fade .carousel-inner .prev.right .quote-box {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}
/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}
#map {
  padding-bottom: 100px;
  position: relative;
  background-color: transparent;
}
#page-parallax .background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 320px) {
  #page-parallax .background {
    /*  iPhone 4 & 5 */
    background-position: -115px 0;
    padding: 50px 0 0;
    height: 500px;
  }
}
@media (min-width: 360px) {
  #page-parallax .background {
    /* Galaxy s4 & s6 */
    background-position: -115px 0;
    padding: 70px 0 0;
    height: 500px;
  }
}
@media (min-width: 375px) {
  #page-parallax .background {
    /*  iPhone 6 */
    background-position: -115px 0;
    padding: 70px 0 0;
    height: 500px;
  }
}
@media (min-width: 414px) {
  #page-parallax .background {
    /*  iPhone 6 plus  */
    background-position: -115px 0;
    padding: 70px 0 0;
    height: 500px;
  }
}
@media only screen and (min-width: 768px) {
  #page-parallax .background {
    /*  iPad Portrait  */
    padding: 150px 0 0;
    height: 470px;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1024px) {
  #page-parallax .background {
    /*  iPad Landscape  */
    padding: 130px 0 0;
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #page-parallax .background {
    /*  Desktop  */
    padding: 170px 0 0;
    height: 700px;
    background-attachment: fixed;
  }
}
#cookie-law-info-bar {
  border-top: 1px solid #140c0c !important;
  background-color: #f6303e !important;
  color: #FFFFFF !important;
}
#cookie-law-info-bar .cli-plugin-button,
#cookie-law-info-bar .cli-plugin-button:visited,
#cookie-law-info-bar .medium.cli-plugin-button,
#cookie-law-info-bar .medium.cli-plugin-button:visited {
  padding: 5px 10px 4px;
}
#cookie-law-info-bar .small.cli-plugin-button,
#cookie-law-info-bar .small.cli-plugin-button:visited,
#cookie-law-info-bar .medium.cli-plugin-button,
#cookie-law-info-bar .medium.cli-plugin-button:visited,
#cookie-law-info-bar .large.cli-plugin-button,
#cookie-law-info-bar .large.cli-plugin-button:visited,
#cookie-law-info-bar .super.cli-plugin-button,
#cookie-law-info-bar .super.cli-plugin-button:visited {
  background-color: #FFFFFF !important;
  color: #01153a !important;
  background: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
#cookie-law-info-bar .cli-plugin-button:hover,
#cookie-law-info-bar .small.cli-plugin-button:hover,
#cookie-law-info-bar .medium.cli-plugin-button:hover,
#cookie-law-info-bar .large.cli-plugin-button:hover,
#cookie-law-info-bar .super.cli-plugin-button:hover {
  background-color: #0d4461 !important;
  color: #FFFFFF !important;
}
@media (max-width: 767px) {
  img.alignright {
    /*  All phone devices */
    margin: 0 0 1em 0;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  img.alignright {
    /*  iPad Portrait  */
    margin: 0 0 1em 1em;
    float: right;
  }
}
img.alignleft {
  margin: 0 1em 1em 0;
}
@media (max-width: 767px) {
  img.alignleft {
    /*  All phone devices */
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  img.alignleft {
    /*  iPad Portrait  */
    float: left;
  }
}
img.aligncenter {
  display: block;
  margin: 1em auto;
}
@media (max-width: 767px) {
  a img.alignright {
    /*  All phone devices */
    margin: 0 0 1em 0;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  a img.alignright {
    /*  iPad Portrait  */
    margin: 0 0 1em 1em;
    float: right;
  }
}
a img.alignleft {
  margin: 0 1em 1em 0;
}
@media (max-width: 767px) {
  a img.alignleft {
    /*  All phone devices */
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  a img.alignleft {
    /*  iPad Portrait  */
    float: left;
  }
}
a img.aligncenter {
  display: block;
  margin: 1em auto;
}
#nav-logo {
  background-color: #01153a;
}
#nav-logo button:focus {
  outline: none;
}
#nav-logo .navbar {
  min-height: 70px;
}
#nav-logo .navbar-inverse .navbar-toggler {
  border-color: transparent;
}
#nav-logo .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(61,175,172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#nav-logo #menu-main-menu li {
  margin-right: 20px;
}
#nav-logo #menu-main-menu li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#nav-logo #menu-main-menu li a:hover {
  color: #3dafac;
}
#nav-logo #menu-main-menu li:last-child {
  margin-right: 0;
}
#home .hero-section {
  background-color: #01153a;
  min-height: 500px;
}
#home .intro-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
#home .intro-section .section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.5;
}
#home .intro-section h1,
#home .intro-section h2,
#home .intro-section h3,
#home .intro-section h4,
#home .intro-section h5,
#home .intro-section h6,
#home .intro-section p,
#home .intro-section a {
  color: #01153a;
}
#home .service-section {
  background-color: #01153a;
  min-height: 500px;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 75px;
}
#home .service-section .section-title {
  text-align: center;
}
#home .service-section .sub-section-title {
  margin-bottom: 20px;
}
#home .service-section a.read-more {
  font-size: 14px;
  color: #3dafac;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#home .service-section a.read-more:hover {
  color: #FFFFFF;
}
#home .service-section hr {
  border-top: 4px dotted #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  #page-builder #full-width-blocks .block-left,
  #page-builder #full-width-blocks .block-right {
    /*  All phone devices */
    min-height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #full-width-blocks .block-left,
  #page-builder #full-width-blocks .block-right {
    /*  iPad Portrait  */
    min-height: 500px;
  }
}
#page-builder #full-width-blocks .block-left h1,
#page-builder #full-width-blocks .block-right h1,
#page-builder #full-width-blocks .block-left h2,
#page-builder #full-width-blocks .block-right h2 {
  color: #FFFFFF;
}
#page-builder #full-width-blocks .block-left h3,
#page-builder #full-width-blocks .block-right h3,
#page-builder #full-width-blocks .block-left h4,
#page-builder #full-width-blocks .block-right h4,
#page-builder #full-width-blocks .block-left h5,
#page-builder #full-width-blocks .block-right h5 {
  color: #f6303e;
}
#page-builder #full-width-blocks .block-left h1,
#page-builder #full-width-blocks .block-right h1,
#page-builder #full-width-blocks .block-left h2,
#page-builder #full-width-blocks .block-right h2,
#page-builder #full-width-blocks .block-left h3,
#page-builder #full-width-blocks .block-right h3,
#page-builder #full-width-blocks .block-left h4,
#page-builder #full-width-blocks .block-right h4,
#page-builder #full-width-blocks .block-left h5,
#page-builder #full-width-blocks .block-right h5,
#page-builder #full-width-blocks .block-left h6,
#page-builder #full-width-blocks .block-right h6 {
  margin-top: 0;
  margin-bottom: 15px;
}
#page-builder #full-width-blocks .block-left h1 img,
#page-builder #full-width-blocks .block-right h1 img,
#page-builder #full-width-blocks .block-left h2 img,
#page-builder #full-width-blocks .block-right h2 img,
#page-builder #full-width-blocks .block-left h3 img,
#page-builder #full-width-blocks .block-right h3 img,
#page-builder #full-width-blocks .block-left h4 img,
#page-builder #full-width-blocks .block-right h4 img,
#page-builder #full-width-blocks .block-left h5 img,
#page-builder #full-width-blocks .block-right h5 img,
#page-builder #full-width-blocks .block-left h6 img,
#page-builder #full-width-blocks .block-right h6 img {
  padding-top: 17px;
}
#page-builder #full-width-blocks .block-left h1,
#page-builder #full-width-blocks .block-right h1 {
  font-size: 66px;
}
#page-builder #full-width-blocks .block-left h3,
#page-builder #full-width-blocks .block-right h3 {
  font-size: 36px;
}
#page-builder #full-width-blocks .block-left h3,
#page-builder #full-width-blocks .block-right h3 {
  font-size: 32px;
}
#page-builder #full-width-blocks .block-left p,
#page-builder #full-width-blocks .block-right p,
#page-builder #full-width-blocks .block-left a,
#page-builder #full-width-blocks .block-right a {
  color: #FFFFFF;
}
#page-builder #full-width-blocks .block-left a,
#page-builder #full-width-blocks .block-right a {
  text-decoration: underline;
}
#page-builder #full-width-blocks .block-left a:hover,
#page-builder #full-width-blocks .block-right a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  #page-builder #full-width-blocks .block-text {
    /*  UP TO iPad Portrait  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: table;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #full-width-blocks .block-text {
    /*  iPad Landscape  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#page-builder #full-width-blocks .block-text p {
  font-size: 20px;
}
@media (max-width: 767px) {
  #page-builder #full-width-blocks .block-right .block-text {
    /*  All phone devices */
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 768px) {
  #page-builder #full-width-blocks .block-right .block-text {
    /*  UP TO iPad Portrait  */
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  #page-builder #full-width-blocks .learn-more {
    /*  All phone devices */
    padding: 40px 0;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #full-width-blocks .learn-more {
    /*  iPad Portrait  */
    display: table;
    margin: 30px auto 0 auto;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #full-width-blocks .learn-more {
    /*  iPad Landscape  */
    margin: 30px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  #page-builder #full-width-blocks .learn-more {
    /*  Desktop  */
    padding-bottom: 0;
  }
}
#page-builder #full-width-blocks .learn-more a {
  background-color: #D8D8D8;
  color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
#page-builder #full-width-blocks .learn-more a:hover {
  background-color: #000000;
  color: #FFFFFF;
}
#page-builder #full-width-image-blocks .content-block {
  position: relative;
}
#page-builder #full-width-image-blocks .block-text-pos {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#page-builder #full-width-image-blocks .block-text {
  background-color: rgba(1, 21, 58, 0.7);
  position: relative;
}
@media (max-width: 767px) {
  #page-builder #full-width-image-blocks .block-text {
    /*  All phone devices */
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #full-width-image-blocks .block-text {
    /*  iPad Portrait  */
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #full-width-image-blocks .block-text {
    /*  iPad Landscape  */
    padding: 15px 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #page-builder #full-width-image-blocks .block-text {
    /*  Desktop  */
    padding: 15px 120px;
  }
}
#page-builder #full-width-image-blocks .block-text .number {
  color: #f6303e;
  font-size: 42px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#page-builder #full-width-image-blocks .block-text .text {
  margin-left: 40px;
}
#page-builder #full-width-image-blocks .block-text p {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 0;
}
#page-builder #text-block .block-text {
  padding-top: 20px;
  padding-bottom: 30px;
}
#page-builder .block-bg-purple h1,
#page-builder .block-bg-purple h2,
#page-builder .block-bg-purple h3,
#page-builder .block-bg-purple h4,
#page-builder .block-bg-purple h5,
#page-builder .block-bg-purple p {
  color: #FFFFFF;
}
#page-builder .block-bg-blue h1,
#page-builder .block-bg-blue h2,
#page-builder .block-bg-blue h3,
#page-builder .block-bg-blue h4,
#page-builder .block-bg-blue h5,
#page-builder .block-bg-blue p {
  color: #FFFFFF;
}
#page-builder #content-block-4-col .section-bg,
#page-builder #content-block-5-col .section-bg {
  background-color: #01153a;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  #page-builder #content-block-4-col .image-block,
  #page-builder #content-block-5-col .image-block {
    /*  All phone devices */
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #content-block-4-col .image-block,
  #page-builder #content-block-5-col .image-block {
    /*  iPad Portrait  */
    padding: 0 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #content-block-4-col .image-block,
  #page-builder #content-block-5-col .image-block {
    /*  iPad Landscape  */
    padding: 0 20px;
  }
}
#page-builder #content-block-4-col .text-block,
#page-builder #content-block-5-col .text-block {
  padding: 0 7px;
}
@media (max-width: 767px) {
  #page-builder #content-block-4-col .text-block,
  #page-builder #content-block-5-col .text-block {
    /*  All phone devices */
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #content-block-4-col .text-block,
  #page-builder #content-block-5-col .text-block {
    /*  iPad Portrait  */
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #content-block-4-col .text-block,
  #page-builder #content-block-5-col .text-block {
    /*  iPad Landscape  */
    margin-bottom: 30px;
  }
}
#page-builder #content-block-4-col .text-block h3,
#page-builder #content-block-5-col .text-block h3,
#page-builder #content-block-4-col .text-block p,
#page-builder #content-block-5-col .text-block p {
  text-align: center;
}
#page-builder #content-block-4-col .text-block h3,
#page-builder #content-block-5-col .text-block h3 {
  color: #a452ff;
}
#page-builder #content-block-4-col .text-block p,
#page-builder #content-block-5-col .text-block p {
  color: #FFFFFF;
  font-size: 14px;
}
#page-builder #content-block-4-col .image-block {
  padding: 0 20px;
}
#page-builder #image-left-text-right {
  padding-top: 50px;
}
#page-builder #image-left-text-right .block-pos {
  position: relative;
  margin-bottom: -26px;
}
#page-builder #image-left-text-right .icon-pos {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -50px;
  z-index: 1;
}
#page-builder #image-left-text-right .image-block {
  position: relative;
  background-color: #000000;
}
#page-builder #image-left-text-right .image-block img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#page-builder #image-left-text-right .image-block .title-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
}
#page-builder #image-left-text-right .image-block .title-overlay h2 {
  font-family: 'basis-grotesque-medium';
  color: #FFFFFF;
  font-size: 42px;
}
#page-builder #image-left-text-right .block-text h1,
#page-builder #image-left-text-right .block-text h2,
#page-builder #image-left-text-right .block-text h3,
#page-builder #image-left-text-right .block-text h4,
#page-builder #image-left-text-right .block-text h5 {
  color: #FFFFFF;
  font-weight: 400;
}
#page-builder #image-left-text-right .block-text p,
#page-builder #image-left-text-right .block-text a {
  color: #FFFFFF;
}
#page-builder #image-left-text-right .block-text a {
  text-decoration: underline;
}
#page-builder #image-left-text-right .block-text a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  #page-builder #image-left-text-right .block-text {
    /*  All phone devices */
    min-height: 300px;
    padding: 30px 30px 60px 30px;
  }
  #page-builder #image-left-text-right .block-text h1,
  #page-builder #image-left-text-right .block-text h2,
  #page-builder #image-left-text-right .block-text h3,
  #page-builder #image-left-text-right .block-text h4,
  #page-builder #image-left-text-right .block-text h5,
  #page-builder #image-left-text-right .block-text p {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #image-left-text-right .block-text {
    /*  iPad Portrait  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: table;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #image-left-text-right .block-text {
    /*  iPad Landscape  */
    padding: 0 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #page-builder #image-left-text-right .block-text {
    /*  Desktop  */
    padding: 60px;
  }
}
@media (max-width: 767px) {
  #page-builder #image-left-text-right .block-text .learn-more {
    /*  All phone devices */
    padding: 40px 0;
  }
}
@media only screen and (min-width: 768px) {
  #page-builder #image-left-text-right .block-text .learn-more {
    /*  iPad Portrait  */
    display: table;
    margin: 30px auto 0 auto;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #page-builder #image-left-text-right .block-text .learn-more {
    /*  iPad Landscape  */
    margin: 30px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  #page-builder #image-left-text-right .block-text .learn-more {
    /*  Desktop  */
    padding-bottom: 0;
  }
}
#page-builder #image-left-text-right .block-text .learn-more a {
  background-color: #FFFFFF;
  color: #f6303e;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
#page-builder #image-left-text-right .block-text .learn-more a:hover {
  background-color: #000000;
  color: #FFFFFF;
}
#page-builder #image-left-text-right .block-bg-grey .block-text p {
  color: #01153a;
}
#page-builder #carousel-show-3 .section-bg {
  background-color: #140c0c;
  min-height: 800px;
}
#page-builder #carousel-show-3 .intro-text {
  padding: 20px 0 50px 0;
}
#page-builder #carousel-show-3 .nav-arrow-pos {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#page-builder #carousel-show-3 .nav-arrow-pos .fa {
  font-size: 52px;
}
#page-builder #carousel-show-3 .text-area {
  margin: 30px 0 50px 0;
}
#page-builder #carousel-show-3 .text-area p {
  font-size: 14px;
}
#page-builder #carousel-show-3 .text-area img {
  padding: 0 40px;
}
#page-builder #content-block-3-col {
  padding-top: 30px;
}
#page-builder #content-block-3-col .image-block {
  padding: 0 20px;
}
#page-builder #content-block-3-col .image-block img {
  border-radius: 50%;
  margin-bottom: 20px;
}
#page-builder #content-block-3-col .text-block {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  #page-builder #content-block-3-col .text-block {
    /*  All phone devices */
    margin-bottom: 0px;
  }
}
#page-builder #content-block-3-col .text-block p {
  text-align: center;
  margin-bottom: 5px;
}
#page-builder #content-block-3-col .text-block p.sub {
  font-size: 14px;
}
@media (max-width: 767px) {
  #page-builder #content-block-3-col .content-block-last {
    /*  All phone devices */
    padding-top: 30px;
  }
}
.add-padding {
  padding-bottom: 100px;
}
.add-padding-after-txt {
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .ipad-pos {
    /*  iPad Portrait  */
    margin-left: -15px;
  }
}
@media only screen and (min-width: 1024px) {
  .ipad-pos {
    /*  iPad Landscape  */
  }
}
@media only screen and (min-width: 1200px) {
  .ipad-pos {
    /*  Desktop  */
    margin-left: 0;
  }
}
#services .hero-section {
  background-color: #000000;
  min-height: 500px;
}
#services .intro-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
#services .intro-section .section-title {
  text-align: center;
}
#services .intro-section h1,
#services .intro-section h2,
#services .intro-section h3,
#services .intro-section h4,
#services .intro-section h5,
#services .intro-section h6,
#services .intro-section p,
#services .intro-section a {
  color: #01153a;
}
#services .service-section {
  background-color: #01153a;
  min-height: 500px;
  color: #FFFFFF;
  padding-top: 150px;
  padding-bottom: 50px;
}
#services .service-section .section-title {
  text-align: center;
}
#blog-section .section-top-bg,
#single .section-top-bg {
  background-image: url('../img/blog-desktop-backgournd-top.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  #blog-section .intro-section,
  #single .intro-section {
    /*  All phone devices */
    margin-top: 150px;
  }
}
@media only screen and (min-width: 768px) {
  #blog-section .intro-section,
  #single .intro-section {
    /*  iPad Portrait  */
    margin-top: 130px;
  }
}
@media only screen and (min-width: 1024px) {
  #blog-section .intro-section,
  #single .intro-section {
    /*  iPad Landscape  */
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  #blog-section .intro-section,
  #single .intro-section {
    /*  Desktop  */
    margin-top: 200px;
  }
}
#blog-section .intro-title,
#single .intro-title {
  z-index: 99999999;
}
@media (max-width: 767px) {
  #blog-section .intro-title,
  #single .intro-title {
    /*  All phone devices */
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) {
  #blog-section .intro-title,
  #single .intro-title {
    /*  iPad Portrait  */
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  #blog-section .intro-title,
  #single .intro-title {
    /*  iPad Landscape  */
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  #blog-section .intro-title,
  #single .intro-title {
    /*  Desktop  */
    padding-bottom: 70px;
  }
}
#blog-section .intro-title h1,
#single .intro-title h1 {
  font-weight: 300;
}
@media (max-width: 767px) {
  #blog-section .intro-title h1,
  #single .intro-title h1 {
    /*  All phone devices */
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  #blog-section .intro-title h1,
  #single .intro-title h1 {
    /*  iPad Portrait  */
    font-size: 52px;
    line-height: 63px;
  }
}
#blog-section a,
#single a {
  text-decoration: none;
}
#blog-section a .post-block,
#single a .post-block {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  background-color: #F9F6EC;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  #blog-section a .post-block,
  #single a .post-block {
    /*  All phone devices */
    min-height: 600px;
  }
}
@media only screen and (min-width: 768px) {
  #blog-section a .post-block,
  #single a .post-block {
    /*  iPad Portrait  */
    min-height: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  #blog-section a .post-block,
  #single a .post-block {
    /*  iPad Landscape  */
    min-height: 600px;
  }
}
@media only screen and (min-width: 1200px) {
  #blog-section a .post-block,
  #single a .post-block {
    /*  Desktop  */
    min-height: 600px;
  }
}
#blog-section a .post-block .post-block-txt,
#single a .post-block .post-block-txt {
  padding: 30px;
}
#blog-section a .post-block .post-block-txt h2,
#single a .post-block .post-block-txt h2,
#blog-section a .post-block .post-block-txt p,
#single a .post-block .post-block-txt p {
  color: #051A1C;
  margin-top: 0;
}
#blog-section a .post-block .post-block-txt h2,
#single a .post-block .post-block-txt h2 {
  font-size: 28px;
}
#blog-section a .post-block .post-block-txt p,
#single a .post-block .post-block-txt p {
  font-size: 18px;
}
#blog-section a .post-block .post-block-txt p.read-more,
#single a .post-block .post-block-txt p.read-more {
  font-size: 14px;
  font-weight: 500;
  color: #3dafac;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
}
#blog-section a:hover .post-block,
#single a:hover .post-block {
  background-color: #F0EBDD;
}
#blog-section .section-bottom,
#single .section-bottom {
  background-image: url('../img/blog-desktop-backgournd-top-bottom.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  #blog-section .section-bottom h2,
  #single .section-bottom h2 {
    /*  All phone devices */
    width: 50%;
  }
}
#single .intro-section {
  margin-top: 200px;
}
@media (max-width: 767px) {
  #single .intro-section {
    /*  All phone devices */
    margin-top: 150px;
  }
}
#single a.back-to {
  color: #3dafac;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  position: relative;
  z-index: 1;
}
#single a.back-to .fa {
  font-size: 12px;
  margin-right: 10px;
}
#single a.back-to:hover {
  color: #051A1C;
}
#single .single-body {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}
#single .single-body .featured-img {
  border-bottom: 2px solid #417F83;
}
@media (max-width: 767px) {
  #single .single-body .featured-img {
    /*  All phone devices */
  }
}
#single .single-body .the-content {
  padding: 100px;
}
@media (max-width: 767px) {
  #single .single-body .the-content {
    /*  All phone devices */
    padding: 20px;
  }
}
#single .single-body .the-content h1,
#single .single-body .the-content h2,
#single .single-body .the-content h3,
#single .single-body .the-content h4,
#single .single-body .the-content h5,
#single .single-body .the-content h6,
#single .single-body .the-content p,
#single .single-body .the-content ul,
#single .single-body .the-content ol,
#single .single-body .the-content li {
  color: #051A1C;
}
#single .single-body .the-content h1,
#single .single-body .the-content h2,
#single .single-body .the-content h3,
#single .single-body .the-content h4,
#single .single-body .the-content h5,
#single .single-body .the-content h6 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
}
#single .single-body .the-content h1 a,
#single .single-body .the-content h2 a,
#single .single-body .the-content h3 a,
#single .single-body .the-content h4 a,
#single .single-body .the-content h5 a,
#single .single-body .the-content h6 a {
  font-size: inherit;
}
#single .single-body .the-content p {
  font-size: 18px;
  line-height: 28px;
}
#single .single-body .the-content p:last-child {
  margin-bottom: 0;
}
#single .single-body .the-content ul,
#single .single-body .the-content ol {
  padding-left: 20px;
}
#single .single-body .the-content a {
  color: #3dafac;
  text-decoration: none;
}
#single .single-body .the-content a:hover {
  color: #024F5B;
}
#single .single-body .share-this {
  border-top: 1px solid #E8E8E8;
  padding: 20px 100px;
}
@media (max-width: 767px) {
  #single .single-body .share-this {
    /*  All phone devices */
    padding: 20px;
  }
}
#single .single-body .share-this h3 {
  margin: 0;
  float: left;
  margin-right: 20px;
  font-size: 28px;
  font-weight: 300;
}
#single .single-body .share-this .jssocials .jssocials-share {
  float: left;
  margin-top: 3px;
}
#single .single-body .share-this .jssocials .jssocials-share a .fa {
  background-color: #3dafac;
  color: #FFFFFF;
  padding: 2px 4px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#single .single-body .share-this .jssocials .jssocials-share a:hover .fa {
  background-color: #024F5B;
}
#single .section-bottom {
  background-image: url('../img/project-and-blog-post-desktop-background-bottom.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  #single .section-bottom h2 {
    /*  All phone devices */
    width: 50%;
  }
}
#page {
  background-color: #01153a;
}
#page .hero-section {
  background-color: #000000;
  min-height: 500px;
}
#page .page-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
#page .page-section h1,
#page .page-section h2,
#page .page-section h3,
#page .page-section h4,
#page .page-section h5,
#page .page-section h5 {
  margin-bottom: 30px;
}
#page .page-section a {
  color: #3dafac;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#page .page-section a:hover {
  color: #000000;
}
#error {
  padding-top: 100px;
}
#error .section-title {
  text-align: center;
  text-transform: uppercase;
  color: #01153a;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}
#error p {
  line-height: 1.5;
  padding-bottom: 20px;
  color: #000000;
}
footer {
  background-color: #3dafac;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-section-title {
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer p,
footer a {
  color: #01153a;
}
footer p:last-child,
footer li:last-child {
  margin-bottom: 0;
}
footer a {
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
footer a:hover {
  text-decoration: none;
  color: #FFFFFF;
}
footer ul,
footer li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
@media (max-width: 767px) {
  footer .footer-left {
    /*  All phone devices */
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-left {
    /*  iPad Portrait  */
    border-left: 4px dotted #FFFFFF;
    padding-left: 20px;
  }
}
footer .footer-left .fa {
  margin-right: 5px;
}
@media (max-width: 767px) {
  footer .footer-right {
    /*  All phone devices */
    text-align: center;
  }
  footer .footer-right .footer-section-title {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-right {
    /*  iPad Portrait  */
    border-left: 4px dotted #FFFFFF;
    padding-left: 20px;
  }
}
footer .footer-right .fa {
  color: white;
  font-size: 24px;
  padding: 7px;
  background-color: #01153a;
  margin-bottom: 20px;
}
@media (min-width: 320px) {
  /*  iPhone 4 & 5 */
}
@media (min-width: 360px) {
  /* Galaxy s4 & s6 */
}
@media (min-width: 375px) {
  /*  iPhone 6 */
}
@media (min-width: 414px) {
  /*  iPhone 6 plus  */
}
@media (max-width: 767px) {
  /*  All phone devices */
}
@media only screen and (min-width: 768px) {
  /*  iPad Portrait  */
}
@media only screen and (min-width: 1024px) {
  /*  iPad Landscape  */
}
@media only screen and (min-width: 1200px) {
  /*  Desktop  */
}
@media only screen and (min-width: 1200px) {
  /*  13" laptop  */
}
@media only screen and (min-width: 1400px) {
  /*  15" Laptop  */
}
@media only screen and (min-width: 1500px) {
  /*  Desktop  */
}
/*# sourceMappingURL=layout.css.map */